body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
    color: white;
    background-color: #2f3030;
    text-align: center;
}

img{
    width: 50%;
    
}
.button{
   padding: 10px;
   box-shadow: 0px 7px ;
   transform: translateY(0px);
   transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
   background-color: #939696;
   border-radius: 5px;
   border: #2f3030;
   
}

.button:active{
    transform: translateY(10px);
    box-shadow: 0px 0px;
}

/* Put the cite text on the very bottom of the page*/
cite{
    position: absolute;
    margin-bottom: 3px;
    bottom: 0;
    width: 100%;
    text-align: center;
}